.pager {
  display: flex;

  button,
  a {
    text-align: center;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;

    &:hover {
      cursor: pointer;
    }
    
    &:active {
      background-color: #000;
      color: white;
      border: 1px solid #000;
    }
    
    &:visited {
      background-color: #000;
    }

  }
}
